.showPost{
    border :1px solid grey;
    padding: 10px 8px;
    margin-bottom: 5px;
}
.showJob{
    border :1px solid grey;
    padding: 10px 8px;
    margin-bottom: 5px;
}
.showUser{
    border :1px solid grey;
    padding: 10px 8px;
    margin-bottom: 5px;
}
.showEvent{
    border :1px solid grey;
    padding: 10px 8px;
    margin-bottom: 5px;
}
.userPic{
    height: 70px;
    border-radius: 50%;
    margin: 10px ;  
}
.displayNone{
    display: none;
}
.displayBlock{
    display: block;
}